"*":
  "atom-beautify":
    json:
      brace_style: "expand"
  core:
    telemetryConsent: "no"
  editor:
    showInvisibles: true
  "exception-reporting":
    userId: "57630fb9-2935-4ef4-a8c2-b75f2619b06a"
  "linter-ui-default":
    showPanel: true
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
